<div class="container">
    <div class="content">
      <div>
        <h1>Available Quotes</h1>
        <hr>
        <ul>
          <div *ngFor='let quote of quotes; let i=index'>
            <li>{{quote.quoteName}}</li>
            <p id="publish">Published on {{quote.publishDate|date}}</p>
            <button class="btn btn-primary"(click)='toggleDetails(i)'>View Quote Details</button>
            <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isComplete) ='quoteRemove($event,i)'></app-quote-details>
          </div>  
           
         </ul>
      </div>
      <div class="col-md-6" id="form">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>
<footer>
  <p id="copy">copyright &copy; 2019, NiEmerance.All rights reserved</p>
</footer>