.content{
    display: flex;
    flex-direction: row;
}
.content #publish{
    font-size: 14px;
    font-style: italic;
    font-family: serif;
}
#form{
    margin-left: 180px;
}
footer{
    margin-top: 10px;
    height: 25px;
    text-align: center;
    background-color: black;
    color: grey;
    opacity: 0.6;
}