<div class="container-fluid">
    <h1 class="text-center">Create a new Quote</h1>
    <hr>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="name">Quote</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.quoteName" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Field is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="quoteAuthor">Quote Author</label>
            <input class="form-control" id="quoteAuthor" [(ngModel)]="newQuote.quoteAuthor" name="quoteAuthor" #quoteAuthor="ngModel" required>
            <div [hidden]="quoteAuthor.valid || quoteAuthor.pristine" class="alert alert-danger">
              <p>Field is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="quotePublisher">Quote Publisher</label>
            <input class="form-control" id="quotePublisher" [(ngModel)]="newQuote.quotePublisher" name="quotePublisher" #quotePublisher="ngModel" required>
            <div [hidden]="quotePublisher.valid || quotePublisher.pristine" class="alert alert-danger">
              <p>Field is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="publishDate">Published Date</label>
            <input type='date' id="complete" [(ngModel)]="newQuote.publishDate" name="publishDate" #publishDate="ngModel" required>
            <div [hidden]="publishDate.valid || publishDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Post Quote</button>
    </form>
  </div>