<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="quoteName">Quote</label>
            <input type="text" required class="form-control" id="quoteName">
  
        </div>
        <div class="form-group">
  
            <label for="quoteAuthor">Quote Author</label>
            <input type="text" required class="form-control" id="quoteAuthor">
  
        </div>
        <div class="form-group">
  
            <label for="quotePublisher">Quote Publisher</label>
            <input type="text" required class="form-control" id="quotePublisher">
  
        </div>
        <div class="form-group">
            <label for="complete">Posted Date</label>
            <input type='date' id="complete" required>
  
        </div>
        <button>Post</button>
    </form>
  </div>